
        {% extends 'website/pages/base.html' %}

        {% block 'contenu_principal' %}
            {% include 'website/sections/services/banner.html' %}
            {% include 'website/sections/services/intro.html' %}
            {% include 'website/sections/index/service.html' %}
            {% include 'website/sections/index/feature.html' %}
            {% include 'website/sections/index/testimonial_starts.html' %}
            {% include 'website/sections/index/clients_starts.html' %}
        {% endblock %}

           {% block 'script' %}
            {% include 'website/partials/script.html'  %}
    {% endblock %}